*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}
/* TODA LA PAG */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&family=Inter&family=Shadows+Into+Light&display=swap'); 
/* LOGO */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&family=Inter&family=Shadows+Into+Light&display=swap');

/* NAVBAR HEADER */
.MuiButton-root{
    color: black !important;
    font-size: 1.3rem !important;
}
.css-1uwgr7b-MuiTypography-root{
    color: black;
    font-weight: bolder;
}
.MuiList-root{
    background-color: #b5bcc4 !important;
    color: white !important;
    font-size: 1.3rem !important;
    opacity: 75% !important;
}
.usuario-noregistrado{
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

/* WelcomeMain */
.logo{
    margin-top: 6rem;
    height: 24vh;
}

.fondo{
    min-width: 100% !important;
    height: 100vh !important;
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title{
    text-shadow: 2px 2px white, 2px 2px white;
    color:#492c36;
    font-size: 60px;
    font-family: 'Inter', sans-serif !important;
}
.subtitulo{
    color:white;
    font-size: 4vh;
    opacity: 90%;
}
.menu-color{
    color: black !important;
}

/* CallToAction - boton*/
.fondo-call{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-callToAction{
    color: #492c36 !important;
    font-size: 40px !important;
}

button.callToAction {
    cursor: pointer;
    margin: 25px 12px 12px 12px !important;;
    padding: 0.8em 1.8em !important;;
    border: 2px solid white !important;;
    position: relative !important;;
    overflow: hidden !important;;
    background-color: #cf7126!important;;
    text-align: center !important;;
    text-transform: uppercase !important;;
    font-size: 17px !important;;
    transition: .3s !important;;
    box-shadow: 0px 0px 15px 15px #492c36 !important;;
    z-index: 1 !important;;
    font-family: 'Inter', sans-serif !important;;
    color: black !important;;
    text-decoration: none !important;
}
button.callToAction::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -40%) rotate(45deg);
    background-color: #492c36;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
button.callToAction:hover::before {
         width: 60%;
}
button.callToAction:hover {
    color: white;
    background-color: #492c36;
}

/* CARROUSEL */
.carousel-ctn{
    min-height: 40vh;
    background-color:#1b1b1d;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title-carousel{
    padding: 2rem;
    font-size: 40px;
    color:#cf7126;
    font-family: 'Shadows Into Light', cursive !important;
}       
.carouselItem-ctn{
     margin-top: 2rem;
     margin-bottom: 2rem;
     display: flex !important;
     flex-direction:  column !important;
     align-items: center !important;
}
.ctn-title{
    background-color: rgba(0, 0, 0, 0.759) !important;
    height: 6vh !important;
}
.title-cities{
    color: white;
    font-weight: 900 !important;
    font-size: 30px !important;
    font-family: 'Shadows Into Light', cursive !important;
}
.img-carousel{
    height: 35vh;
    width: 40vw;
    box-shadow: 0px 0px 4px 4px #492c36 ;
    background-position: center !important;
    background-size: cover !important;
}
.img-carousel:hover{
    box-shadow: 0px 0px 14px 14px #492c36;
    transform: rotate(360deg);
    filter: saturate(200%);
}
.bhRnqO{
    background-color: #cf7126 !important;
}
.kVtMtA{
    background-color: #cf7126 !important;
}

@media screen and (max-width:1520px) {
    .img-carousel{
        height: 30vh;
        width: 70vh;
    }
}
@media screen and (max-width:1430px) {
    .img-carousel{
        height: 30vh;
        width: 50vh;
    }
}
@media screen and (max-width:870px) {
    .img-carousel{
        height: 30vh;
        width: 40vh;
    }
    .ctn-cards{
        flex-direction: column !important;
    }
    .cards{
        width: 60vw !important;
        height: 50vh !important;
    }
}
@media screen and (max-width:715px){
    .img-carousel{
        height: 20vh;
        width: 35vh;
    }
    .title-cities{
        color: white;
        font-weight: 600;
        opacity: 90%;
        font-size: 10px;
    }
}
@media screen and (max-width:650px){
    .img-carousel{
        height: 40vh;
        width:50vh;
    }
    .title-cities{
        color: white;
        font-weight: 600;
        opacity: 90%;
        font-size: 20px;
    }
}
@media screen and (max-width:610px){
    .titulo{
        font-size: 40px;
    }
    .subtitulo{
        margin-top: 20px
    }
    .img-carousel{
        height: 40vh;
        width: 40vh;
    }
    .cards{
        width: 80vw !important;
        height: 50vh !important;
    }
}
@media screen and (max-width:470px){
    .img-carousel{
        height: 30vh;
        width: 35vh;
    }
    .title-cities{
        font-size: 22px !important;
    }
    .input-search{
        width: 60vw !important;
    }
    .flag{
        width: 25vw !important;
    }
    .error-search{
        height: 80vh !important;
        width: 70vw !important;
    }
    .title-error{
        font-size: 60px;
    }
}
@media screen and (max-width:400px){
    .img-carousel{
        height: 20vh;
        width: 30vh;
    }
    .title-cities{
        font-size: 22px !important;
    }
    .title{
        font-size: 50px !important;
    }
    .subtitulo{
        font-size: 25px;
    }
    .title-callToAction{
        font-size: 30px !important;
    }
    .cards{
        width: 80vw !important;
        height: 50vh !important;
    }
    .title-pais{
        font-size: 40px !important;
    }
}
/* FOOTER */
.footer-ctn{
    min-height: 25vh;
    background-color: #492c36;
    color: white !important;
    display: flex !important;
    justify-content: space-around !important;
    flex-direction: column !important;
}
.logo-footer{
    height: 24vh;
}
.title-footer{
    color: white;
}
.css-1kqj5y-MuiSvgIcon-root{
    width: 25rem !important;
}

/* CITIES */
.cities-ctn{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1d;
}
.cities-image{
    width: 100%;
    min-height: 70vh;
    background-color: aliceblue !important;
    background-image: url("https://images.unsplash.com/photo-1503221043305-f7498f8b7888?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1153&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .5s ease-in-out;
    overflow:hidden;
    background-attachment: fixed;
}

.input-ctn{
    background-color:white;
    width:100%;
    min-height: 15vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-search{
    width:20rem;
    height: 2rem;
}
.ctn-cards{
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-body{
    margin: 15px 15px 70px 15px;
}

.cards{
    height: 35vh;
    width: 40vw;
    background-position: center !important;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s;
}
.cards:hover{
    transform: scale(1.3);

}
.cities-title-ctn{
    background-color: rgba(0, 0, 0, 0.759) !important;
    height: 6vh !important;
    color: white;
}
.details-button{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    transform: translateY(1rem);
}

/* DETAILS */
.ctn-details{
    background-color: white;
    min-height: 75vh;
}
.details-description{
    min-height: 100vh;
}
.img-card-details{
    height: 60vh;
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-pais{
    text-shadow: 2px 2px white, 2px 2px white;
    color:#492c36;
    font-size: 60px;
    font-family: 'Inter', sans-serif !important;
}
.datos-cities{
    background-color: #cf7126;
    min-height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flag{
    width:15vh;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(95, 97, 98, 0.3), 0 6px 20px 0 rgba(88, 92, 93, 0.41);
}
.back-cities-ctn{
    margin-bottom: 30px;
}
.back-cities{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}
.error-search{
    height: 40vh;
    width: 70vw;
    background-image: url("https://images.unsplash.com/photo-1504251344725-6f13ec70b5ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80");
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title-error{
    text-shadow: 2px 2px white, 2px 2px white;
    color:#492c36;
    font-size: 60px;
    font-family: 'Inter', sans-serif !important;
}