*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}
/* TODA LA PAG */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&family=Inter&family=Shadows+Into+Light&display=swap'); 
/* LOGO */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&family=Shadows+Into+Light&display=swap');

/* NAVBAR HEADER */
.MuiButton-root{
    color: white !important;
    font-size: 1.3rem !important;
}
.MuiList-root{
    background-color: #b5bcc4 !important;
    color: white !important;
    font-size: 1.3rem !important;
    opacity: 75% !important;
}
.usuario-noregistrado{
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

/* WelcomeMain */
.logo{
    margin-top: 6rem;
    height: 24vh;
}

.fondo{
    min-width: 100% !important;
    height: 100vh !important;
    background-image: url(../assets/fondo4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.titulo{
    font-size: 7vh;
    color:#492c36;
    font-family: 'Shadows Into Light', cursive !important;

}
.subtitulo{
    color:white;
    font-size: 4vh;
    opacity: 90%;
}
.menu-color{
    color: black !important;
}

/* CallToAction - boton*/
.fondo-call{
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.callToAction {
    margin: 12px 12px 12px 12px ;
    padding: 0.8em 1.8em;
    border: 2px solid #9f8b7b;
    position: relative;
    overflow: hidden;
    background-color: #9f8b7b;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    transition: .3s;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    color: black;
}
button.callToAction::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -40%) rotate(45deg);
    background-color: #cf7126;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
button.callToAction:hover::before {
         width: 60%;
}
button.callToAction:hover {
    color: white;
    background-color: #492c36;
}

/* CARROUSEL */
.carousel-ctn{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
}
.bqyzQp{
    margin-top: 5rem;
}
.img-carousel{
    height: 40vh;
    width: 70vh;
}


/* FOOTER */